/01_Frontend/.gitignore


# dependencies
/01_Frontend/node_modules
/01_Frontend/.pnp
/01_Frontend.pnp.js

# testing
/01_Frontend/coverdage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
